<!--COPY PASTED - has to be adjusted TODO-->
<h2 mat-dialog-content>New chat</h2>

<div mat-dialog-content>
  <div class="dropzone mb-3">
    <ng-container class="mb-3">
      <p>📂 Drag or drop WhatsApp chat export</p>
      <button mat-stroked-button color="primary" (click)="fileInput.click()">Choose file</button>
      <input type="file" (change)="onFileSelected($event)" hidden #fileInput >
    </ng-container>
  </div>

  <mat-form-field appearance="fill" class="filename-input">
    <mat-label>File name</mat-label>
    <input matInput [(ngModel)]="fileName" placeholder="z. B. Protokoll.pdf">
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button >Cancel</button>
  <button mat-raised-button color="primary" (click)="uploadFile()" [disabled]="!selectedFile">
    Upload
  </button>
</div>