<div class="page-wrapper">
    <img src="" alt="" class="wn-logo">

    <div class="wn-card">
        <div class="wn-card-title">
            <h1>Sign in</h1>
        </div>

        <div class="wn-card-body">
            <form [formGroup]="form">
                <div class="wn-input-group">
                    <input type="text" class="wn-input" 
                    [ngClass] = "{'validation-success': validate_control(email)==='valid', 'validation-fail': validate_control(email)==='invalid'}"
                    formControlName="email">
                    <label  class="wn-input-label">Email</label>
                </div>
                <div class="wn-input-group">
                    <input type="password" class="wn-input"
                    [ngClass] = "{'validation-success': validate_control(password)==='valid', 'validation-fail': validate_control(password)==='invalid'}"
                    formControlName="password">
                    <label class="wn-input-label">Password</label>
                </div>
            </form>
        </div>

    </div>
</div>
