<div class="grid grid-cols-2 md:grid-cols-3 gap-4 p-4">
    <div class="color-box bg-primaryy text-white">Primary</div>
    <div class="color-box bg-primary-dark text-white">Primary Dark</div>
    <div class="color-box bg-accent text-black">Accent</div>
    <div class="color-box bg-background text-black">Background</div>
    <div class="color-box bg-surface text-black">Surface</div>
    <div class="color-box bg-text text-white">Text Dark</div>
    <div class="color-box bg-text-light text-black">Text Light</div>
  </div>
  