.app {
  display: flex;
  width: 960px;       
  min-width: 600px;
  height: 90vh;
  margin: 40px auto;      

  border-radius: 4px;    
  background-color: var(--color-surface);
  box-shadow: 0 4px 12px var(--color-shadow); 
  transition: background-color 0.2s;
  }