<nav class="sidebar">
    <div class="nav-item" routerLink="/chat" routerLinkActive="active"><i class="bi bi-chat-left-text"></i></div>
    <div class="nav-item" routerLink="/design" routerLinkActive="active"><i class="bi bi-palette"></i></div>

    <div class="spacer"></div>

    <div class="nav-item" routerLink="/profile" routerLinkActive="active"><i class="bi bi-person"></i></div>
    <div class="nav-item" routerLink="/setting" routerLinkActive="active"><i class="bi bi-gear"></i></div>
</nav>
